block content
  h1= title
  p rows:#{query.rows} , columns:#{query.cols}
  - var rows=Number(query.rows)
  - var cols=Number(query.cols)
  p 
  
  if !(Number.isInteger(rows)) || !(Number.isInteger(cols))
    p Given parameter values are not integers 
  else if rows > 3
   p The entered rows value should be less than 3
  else if cols > 4
   p The entered column value should be less than 4
  else
   table#outer
    - for(let i=0; i<rows; i++) {
     tr#middle
      - for(let j=0; j<cols; j++) {
       td=(i+j*j)
      - }
    - }