extends layout

block content
  h1= title
  - let vehicles = [{name:"Ship", type:"WaterWay", noofpassengers: 100},{name:"Car", type:"RoadWay", noofpassengers: 80},{name:"Etihad", type:"Airways", noofpassengers: 150}]
  div(class="container-fluid") 
   div(class="row")
    each vehicle,index in vehicles
        div(class="col-sm-2" onclick=`buy(${index})`) name: #{vehicle.name} , type: #{vehicle.type} , noofpassengers: #{vehicle.noofpassengers}

        script. 
    let itemNo=0
     function buy(itemNo)
     {
        alert(`You purchased Item ${itemNo+1}`)
     }